<div class="container col-5">
  <h2 class="my-4">Objetos @Input</h2>
    <span>Objeto padre: <br> <pre>{{ Harry | json }}</pre></span>
    <span>Objeto padre 2: <br> <pre>{{ Louis | json }}</pre></span>
</div>